<div class="section sectionFirst" id="{{ include.title | downcase }}">
    <div class="colorLine">
        <div class="yellowLine"></div>
        <div class="blueLine"></div>
        <div class="greenLine"></div>
        <div class="orangeLine"></div>
    </div>
    <div class="sectionTexture">
        <div class="sectionTitle">
            <h2>{{ include.title }}</h2>
        </div>
    </div>
    <div class="colorLine">
        <div class="orangeLine"></div>
        <div class="greenLine"></div>
        <div class="blueLine"></div>
        <div class="yellowLine"></div>
    </div>
</div>


